body {
    font-size: 12pt;
    line-height: $leading;
    background: $very-light;
    text-rendering: optimizelegibility;
    overflow-x: hidden; // HACK

    @media screen and (min-width: $breakpoint1) {
        font-size: 14pt;
        line-height: $leading * 1.4;
    }

    @media screen and (min-width: $breakpoint2) {
    }

    @media screen and (min-width: $breakpoint3) {
        font-size: 16pt;
        line-height: $leading * 1.6;
    }

    a {
        color: $accent;
        text-decoration: none;

        &:hover {
            color: $dark-accent;
            
            img {
                // border-color: $accent;
            }
        }
        
    }

    p, article > ul li, article > ol li {
        padding-bottom: $leading / 2;

        &:last-child {
            padding-bottom: 0;
        }
    }
    
    article > figure {
        padding: $leading 0;
        
        &:nth-of-type(1){
            padding-top: $leading/2;
        }

        @media screen and (min-width: $breakpoint1) {
            &:nth-of-type(1){
                padding-top: 0;
            }
        }
    }

    h1 {
        font-size: 2em;
        line-height: 1em;
        font-family: $light-font;

        a {
            &:hover {
                border: none !important;
            }
        }
        
        @media screen and (min-width: $breakpoint1) {
            font-family: $ultralight;
            font-size: 3em;
        }
                
        @media screen and (min-width: $breakpoint2) {
            font-family: $hairline;
            font-size: 4em;
        }
        
        @media screen and (min-width: $breakpoint3) and (min-height: 40em) {
            // font-size: 5em;
        }
    }
    
    h2 {
        font-family: $regular;
        // font-weight: bold;
    }

    &.index > header,
    &.index > header .contents {
        height: 15 * $leading;
        padding-bottom: $vert-margin1;
    
        @media screen and (min-width: $breakpoint1) {
            padding-bottom: $vert-margin2;
            height: 18 * $leading;
        }
    
        @media screen and (min-width: $breakpoint2) {
            height: 21 * $leading;
        }
    
        @media screen and (min-width: $breakpoint3) {
            height: 21 * $leading;
        }
        
        h1 {
            @media screen and (max-width: $breakpoint1) {
                font-size: $leading * 2;
                white-space: normal;
                line-height: 1em;
                width: 1em; // Force linebreaks
                font-family: $ultralight;
            }
        }
    }
    
    > header,
    > header .contents {
        height: 9 * $leading;
        padding-bottom: $vert-margin1;
    
        @media screen and (min-width: $breakpoint1) {
            padding-bottom: $vert-margin2;
            height: 9 * $leading;
        }
    
        @media screen and (min-width: $breakpoint2) {
            height: 12 * $leading;
        }
    
        @media screen and (min-width: $breakpoint3) {
            height: 15 * $leading;
        }
    }
    
    > header {
        background: $accent;
        padding-top: $leading;
        position: relative;
        
        // h1 {
        //     text-transform: lowercase;
        //     
        //     a {
        //         font-family: $regular;
        //         $logoWidth: 36pt;
        //         $offset: $logoWidth + 24pt;
        //         background-image: url('../images/logo-breakpoint3.png');
        //         background-repeat: no-repeat;
        //         background-size: $logoWidth;
        //         background-position: 0 .225em;
        //         padding-left: $offset;
        //         position: relative;
        //         left: -$offset;
        //     }
        // }

        a {
            
            &:hover {
                color: white;
                border-bottom: 1px white solid;
            }
        }

        .bg {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            // background: url('https://sphotos-b.xx.fbcdn.net/hphotos-ash3/734497_10150288119019945_1731816321_n.jpg') no-repeat;
            // background: url('https://sphotos-a.xx.fbcdn.net/hphotos-ash3/62873_508237362568235_570706056_n.jpg') no-repeat;
            background: url('../images/cover-photo.png') no-repeat;
            background-size: 175%;
            background-position: center middle;
            padding-bottom: $leading;

            @media screen and (min-width: $breakpoint1) {
                background-size: 175%;
            }

            @media screen and (min-width: $breakpoint2) {
                background-size: 110%;
            }
            
            @media screen and (min-width: $breakpoint3) {
                background-size: 100%;
            }
            
            
            // ORANGE HORRIBLENESS…needs work
            // -webkit-filter: sepia(1)
            //                 hue-rotate(-40deg)
            //                 saturate(1000%);
            // In the meantime, grayscale:
            
            // -webkit-filter: grayscale(1);
            opacity: .25;

        }

        .contents {
            position: fixed;
            top: 0;
            width: 100%;
            padding-top: $vert-margin1;

            @media screen and (min-width: $breakpoint2) {
                padding-top: $vert-margin2;
            }
        }

        a, input {
            position: relative;
            z-index: 100;
            color: white;
        }

        h1, h2 {
            @include contentPosition;
            position: relative;
            z-index: 2;
        }

        h1 {
            white-space: nowrap;
            position: absolute;
            bottom: $vert-margin1;

            @media screen and (min-width: $breakpoint1) {
                bottom: $vert-margin2;
            }

            @media screen and (min-width: $breakpoint2) {

                line-height: $leading * 3;
                bottom: $vert-margin3;
            }

            @media screen and (min-width: $breakpoint3) and (min-height: 40em) {
                line-height: $leading * 5;
                bottom: $vert-margin3;
            }
        }

        h2 {
            font-size: 1em;
            line-height: $leading;
            // font-style: italic;
            color: rgba(255,255,255,.75);
            
            @media screen and (max-width: $breakpoint1) {
                display: none;
            }

            @media screen and (min-width: $breakpoint3) {
                white-space: nowrap;
            }
        }

        .search {
            margin-top: $leading - .33333rem;

            @media screen and (max-width: $breakpoint1) {
                display: none;
            }
            
            @media screen and (max-width: $breakpoint2) {
                @include contentPosition;
            }
            
            @media screen and (min-width: $breakpoint2) {
                position: absolute;
                top: $leading;
                right: $gutter;
            }

            input {
                background: none;
                padding: 0;
                margin: 0;
                border: 0;
                outline: none;
                -webkit-appearance: none;

                width: 9em;
                border-bottom: 1pt white solid;
                font-size: 1em;
                font-family: $semilight;
                color: white;

                ::-webkit-input-placeholder
                   ::-moz-input-placeholder
                    ::-ms-input-placeholder
                        ::input-placeholder {
                    opacity: 1;
                    font-family: $semilight;
                }

                @include transition-property(all);
                @include transition-duration(.25s);
                @include transition-timing-function(cubic-bezier(1, 0, 0, 1));

                &:hover {
                    width: 10em;
                }

                &:focus {
                    border-bottom-color: $accent;
                    width: 15em;
                }

                @media screen and (min-width: $breakpoint2) {
                    width: 6em;
                    &:hover { width: 7.5em; }
                    &:focus { width: 10em; }
                }
                @media screen and (min-width: $breakpoint3) {
                    width: 9em;
                    &:hover { width: 10em; }
                    &:focus { width: 15em; }
                }
            }
        }
    }

    nav {
        @include contentPosition;
        margin-top: $leading/2;

        ul {

            li {
                margin-right: 1em;
                font-size: $leading;
                line-height: $leading * 1.5;
                font-family: $light-font;
                
                @media screen and (min-width: $breakpoint1) {
                    display: inline-block;
                    font-size: 1em;
                    line-height: $leading;
                }

                a {
                    // @include small-caps(.75em);
                    // text-transform: lowercase;
                }
            }
        }
    }



    .content {
        position: relative;
        z-index: 100;
        background-color: $very-light;
        // padding: $vert-margin1 0;
        // 
        // @media screen and (min-width: $breakpoint1) {
        //     padding: $vert-margin2 0;
        //     // box-shadow: 0 0 6em rgba(0,0,0,.75);
        // }
        // 
        // @media screen and (min-width: $breakpoint2) {
        //     padding: $vert-margin2 0;
        // }
        // 
        // @media screen and (min-width: $breakpoint3) {
        //     padding: $vert-margin3 0;  
        // }

    }

    article {
        padding-top:    $vert-margin2;
        padding-bottom: $vert-margin2;
        border-top: 1pt $light solid;
        @include contentPosition;
        
        @media screen and (min-width: $breakpoint2) {
            padding-top:    $vert-margin3;
            padding-bottom: $vert-margin3;
        }
        
        &:nth-child(odd) {
            background-color: $very-light;
        }
        
        &:nth-child(even) {
            background-color: #fff;
        }

        h1 {
            margin-bottom: $leading / 2;
            
            @media screen and (min-width: $breakpoint1) {
                width: 100% + $col + $gutter;
            }
            @media screen and (min-width: $breakpoint2) {
                width: 100% + $col2;
            }
            @media screen and (min-width: $breakpoint3) {
                width: 100% + $col2;
            }
        }

        header {
                               
            time {
                @include small-caps(.75em);

                @media screen and (max-width: $breakpoint1) {
                    margin-left: 3.5em;
                }
                @media screen and (min-width: $breakpoint1) {
                    position: relative;
                    top: -$rel-leading/3;
                }
                
                a {
                    color: $light;
                    &:hover {
                        color: $accent;
                    }
                }
            }
            
            h1 {
                @media screen and (max-width: $breakpoint1) {
                    margin-top: $leading/2;
                }
            }
            
            author {
                position: relative;
                top: -.3333em;

                a {
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 2em;
                    width:  2em;
                    text-indent: -9999em;
                    border-radius: 50%;
                    border: 1pt $light solid;
                    position: absolute;

                    &:hover {
                        border-color: $accent;
                    }
                }

                @media screen and (min-width: $breakpoint1) {
                    top: $rel-leading*1.166667;

                    a {
                        left:  -4em;
                        height: 3em;
                        width:  3em;
                    }
                }

                @media screen and (min-width: $breakpoint2) {
                    top: $rel-leading*1.33333;

                    a {
                        // left:   -6em;
                        // width:   4em;
                        // height:  4em;
                    }
                }
                
                @media screen and (min-width: $breakpoint3) {
                    top: $rel-leading*1.5;
                
                    a {
                        // left:   -6.5em;
                        // width:   4.5em;
                        // height:  4.5em;
                    }
                }
            }
        }

        footer {

            ul.meta {
                color: $light;
                position: relative;

                a {
                    color: $light;
                    &:hover { color: $accent; }
                }

                li:before {
                    content: none;
                }

                > li {
                    margin-top: $leading / 2;
                    margin-left: $col*2 + $gutter*3;
                    display: block;
                    
                    @media screen and (min-width: $breakpoint1) {
                        h2 {
                            position: absolute;
                            left: 0;
                        }
                    }
                    
                    @media screen and (min-width: $breakpoint2) {
                        margin-left: 0;
                        
                        h2 {
                            width: 5em;
                            left: -5.75em;
                            text-align: right
                        }
                    }

                    h2 {
                        @include small-caps(.75em);
                        color: $med-light;
                    }

                    ul, ol {
                    }

                    &.tags {
                        ul {
                            li {
                                text-transform: lowercase;
                                display: inline-block;
                                padding-right: .5em;
                            }
                        }
                    }

                    &.notes {
                        li {
                            display: block;
                            color: $med-light;
                            margin-bottom: $leading / 2;
                            a {
                                color: $light;
                                &:hover { color: $accent; }
                            }
                            img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        > figure {
            padding-bottom: 0;

            figcaption {
                margin-bottom: $leading;
            }

            iframe {
                width: 100% + $gutter * 2 !important;
                margin-left: -$gutter;
                height: auto  !important;
            }
        }

        img {
            // @include small-shadow;
            height: auto !important; // many images already in the blog have a hardcoded height
        }

        &.photoset {
            // > figure {
            //     position: relative;
            // 
            //     .photos {
            //         > figure {
            //             position: relative;
            //             width: $col2 + $gutter;
            //             height: $leading * 10;
            //             display: inline-block;
            //             overflow: hidden;
            //             margin-bottom: $leading;
            //             @include small-shadow;
            // 
            //             &:nth-child(2n-1) {
            //                 float: right;
            //             }
            // 
            //             img {
            //                 width: 100%;
            //                 position: absolute;
            //             }
            // 
            //             figcaption {
            //                 position: absolute;
            //                 background: rgba(0,0,0,.5);
            //                 bottom: 0;
            //                 width: 100% - ($gutter * 4);
            //                 padding: $gutter $leading;
            //                 color: white;
            //                 margin: 0;
            //             }
            //         }
            //     }
            // }
        }

        &.text  img,
        &.photo img, 
        &.video img,
        &.audio img,
        &.photoset img {

            @media screen and (max-width: $breakpoint1) {
                @include fullwidth($gutter * 2 + $col);
            }

            @media screen and (min-width: $breakpoint1) {
                width: 100% !important;
            }

            @media screen and (min-width: $breakpoint2) {
                @include hang-right($gutter * 4 + $col * 3);
            }

            @media screen and (min-width: $breakpoint3) {
                @include hang-right($gutter * 4 + $col * 3);
            }
        }

        ul {
            list-style-type: none;

            li {
                &:before {
                    content: "\2015";
                    color: $light;
                    position: absolute;
                    margin-left: -1.5em;
                    
                    @media screen and (max-width: $breakpoint1) {
                        margin-left: -1em;
                    }
                }
            }
        }

        blockquote {
            padding-left: 1.5em;
            border-left: 1pt solid $accent;
        }
    }
}