@font-face {
  font-family: 'AkzidenzGroteskBE-Regular';
  src: url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),  url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Regular.otf')  format('opentype'),
         url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Regular.woff') format('woff'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Regular.ttf')  format('truetype'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-It';
  src: url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-It.eot?#iefix') format('embedded-opentype'),  url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-It.otf')  format('opentype'),
         url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-It.woff') format('woff'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-It.ttf')  format('truetype'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-It.svg#AkzidenzGroteskBE-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-Bold';
  src: url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),  url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Bold.otf')  format('opentype'),
         url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Bold.woff') format('woff'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Bold.ttf')  format('truetype'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-Light';
  src: url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Light.eot?#iefix') format('embedded-opentype'),  url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Light.otf')  format('opentype'),
         url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Light.woff') format('woff'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Light.ttf')  format('truetype'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Light.svg#AkzidenzGroteskBE-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBE-Md';
  src: url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Md.eot?#iefix') format('embedded-opentype'),  url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Md.otf')  format('opentype'),
         url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Md.woff') format('woff'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Md.ttf')  format('truetype'), url('https://rawgit.com/antonioono/design-league/2017/fonts/AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}
