@import "./_font-face.scss";

$light-font:    "AkzidenzGroteskBE-Light";
$regular:       "AkzidenzGroteskBE-Regular";
$bold:          "AkzidenzGroteskBE-Bold";
$medium:        "AkzidenzGroteskBE-Md";
$italic:        "AkzidenzGroteskBE-It";

@mixin small-caps($size: 1em) {
    text-transform: uppercase;
    letter-spacing: .125em;
    font-size: $size;
}

body {
    font-family: $regular;
    font-size: 11pt;
    line-height: 1.5em;
    
    ::selection {
        background: $accent;
        color: white;
    }
    
    ::-moz-selection {
        background: $accent;
        color: white;
    }

    em {
        font-family: $italic;
        font-style: italic;
    }
    
    strong {
        font-family: $bold;
        font-weight: bold;
    }
    
    .small-caps {
        @include small-caps;
        font-family: $bold;
        font-size: .75em;
    }
    
    header {
        > h1,
        > .contents > h1,
        h1,
        author {
            font-size: 16.25vw;
            line-height: 1em;
            font-family: $light-font;
            letter-spacing: -.045em;
            text-transform: lowercase;
        
            a {
                &:hover {
                    border: none !important;
                }
            }
                    
            @media screen and (min-width: $breakpoint2) {
                font-family: $light-font;
                letter-spacing: -.045em;
                font-size: 8.647vw;
            }
        }
        
        > h2,  > .contents > h2 {
            font-family: $bold;
        }
    }
    
    // article {
    //     
    //     header h1, header author {
    //         @media screen and (min-width: $breakpoint3) {
    //             font-size: 6em;
    //             font-family: $ultralight;
    //         }
    // 
    //     }
    // }
    
    
    nav ul li {
        
        h1 {
            @include small-caps(.75em);
            font-family: $bold;
        }
    }
}