/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'tazhair21';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazhair21_-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazhair21_-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazhair21_-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazhair21_-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazhair21_-webfont.svg#tazhair21") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazregular';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazregular-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazregular-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazregular-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazregular-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazregular-webfont.svg#tazregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazbold';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbold-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbold-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbold-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbold-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbold-webfont.svg#tazbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tazbold_italic';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbolditalic-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbolditalic-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbolditalic-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazbolditalic-webfont.svg#tazbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazitalic';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazitalic-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazitalic-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazitalic-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazitalic-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazitalic-webfont.svg#tazitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'tazlight';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazlight-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazlight-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazlight-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazlight-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazlight-webfont.svg#tazlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazsemilight';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazsemilight-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazsemilight-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazsemilight-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazsemilight-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazsemilight-webfont.svg#tazsemilight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazultralight';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralight-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralight-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralight-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralight-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralight-webfont.svg#tazultralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tazultralight_italic';
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralightitalic-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralightitalic-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralightitalic-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/17644651/fonts/tazultralightitalic-webfont.svg#tazultralight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../sass/_globals/_type.scss */
body {
  font-family: "BemboStd";
  font-size: 12pt;
  line-height: 1.5em;
}
/* line 24, ../sass/_globals/_type.scss */
body em {
  font-family: "tazitalic";
  font-style: italic;
}
/* line 29, ../sass/_globals/_type.scss */
body strong {
  font-family: "tazbold";
  font-weight: bold;
}
/* line 34, ../sass/_globals/_type.scss */
body .small-caps {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1em;
  font-size: .75em;
}
/* line 40, ../sass/_globals/_type.scss */
body header > h1, body header > .contents > h1, body header article h1 {
  font-size: 16.25vw;
  line-height: 1em;
  font-family: "tazultralight";
  text-transform: lowercase;
}
/* line 47, ../sass/_globals/_type.scss */
body header > h1 a:hover, body header > .contents > h1 a:hover, body header article h1 a:hover {
  border: none !important;
}
@media screen and (min-width: 48em) {
  /* line 40, ../sass/_globals/_type.scss */
  body header > h1, body header > .contents > h1, body header article h1 {
    font-family: "tazhair21";
    font-size: 8.665vw;
  }
}
/* line 58, ../sass/_globals/_type.scss */
body header > h2, body header > .contents > h2 {
  font-family: "tazregular";
}
/* line 64, ../sass/_globals/_type.scss */
body nav ul li {
  font-size: 12pt;
  line-height: 1.25em;
}
/* line 68, ../sass/_globals/_type.scss */
body nav ul li h1 {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  font-family: "tazregular";
}

/* line 1, ../sass/_layout/_base.scss */
body {
  background: #f0f0f0;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}
/* line 6, ../sass/_layout/_base.scss */
body a {
  color: #ff6000;
  text-decoration: none;
}
/* line 10, ../sass/_layout/_base.scss */
body a:hover {
  color: #bf4900;
}
/* line 18, ../sass/_layout/_base.scss */
body p,
body article > ul li,
body article > ol li {
  padding-bottom: 0.75em;
}
/* line 21, ../sass/_layout/_base.scss */
body p:last-child,
body article > ul li:last-child,
body article > ol li:last-child {
  padding-bottom: 0;
}
/* line 26, ../sass/_layout/_base.scss */
body .content {
  z-index: 1;
  position: relative;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
@media screen and (min-width: 32em) {
  /* line 26, ../sass/_layout/_base.scss */
  body .content {
    top: 75vh;
  }
}
/* line 34, ../sass/_layout/_base.scss */
body .content.inactive {
  opacity: .125;
}

/* line 3, ../sass/_layout/_header.scss */
body > header, body nav {
  z-index: 2;
}
@media screen and (min-width: 32em) {
  /* line 3, ../sass/_layout/_header.scss */
  body > header, body nav {
    opacity: .25;
    position: fixed;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
}
/* line 12, ../sass/_layout/_header.scss */
body > header.rollover, body nav.rollover {
  opacity: 1;
}
/* line 17, ../sass/_layout/_header.scss */
body > header {
  height: 100%;
  top: 50%;
}
/* line 21, ../sass/_layout/_header.scss */
body > header:after {
  content: "";
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .1;
  z-index: -2;
}
/* line 35, ../sass/_layout/_header.scss */
body > header a {
  color: #ff6000 !important;
}
/* line 38, ../sass/_layout/_header.scss */
body > header a:hover {
  color: white;
  border-bottom: 1px white solid;
}
/* line 44, ../sass/_layout/_header.scss */
body > header a, body > header input {
  position: relative;
  z-index: 100;
  color: white;
}
/* line 50, ../sass/_layout/_header.scss */
body > header h1, body > header h2 {
  z-index: 2;
}
/* line 54, ../sass/_layout/_header.scss */
body > header h1.title {
  position: relative;
  white-space: nowrap;
  background-image: url("../images/logo-breakpoint3.png");
  background-repeat: no-repeat;
  background-size: 0.4em;
  padding-top: 0.65em;
}
/* line 63, ../sass/_layout/_header.scss */
body > header h1.title span.phrase {
  display: block;
}
@media screen and (min-width: 32em) {
  /* line 54, ../sass/_layout/_header.scss */
  body > header h1.title {
    background-size: 0.5em;
    padding-top: 0;
    background-position: 0 .1875em;
    padding-left: 0.75em;
    left: -0.75em;
  }
}
@media screen and (min-width: 48em) {
  /* line 76, ../sass/_layout/_header.scss */
  body > header h1.title span.phrase {
    display: inline;
  }
}
/* line 80, ../sass/_layout/_header.scss */
body > header h2 {
  font-size: 1em;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 10.41667%;
}
@media screen and (min-width: 32em) {
  /* line 80, ../sass/_layout/_header.scss */
  body > header h2 {
    margin-left: 35.41667%;
    margin-right: 10.41667%;
  }
}
@media screen and (min-width: 48em) {
  /* line 80, ../sass/_layout/_header.scss */
  body > header h2 {
    margin-left: 43.75%;
    margin-right: 18.75%;
  }
}
@media screen and (min-width: 84em) {
  /* line 80, ../sass/_layout/_header.scss */
  body > header h2 {
    margin-left: 52.08333%;
    margin-right: 18.75%;
  }
}
@media screen and (max-width: 32em) {
  /* line 80, ../sass/_layout/_header.scss */
  body > header h2 {
    display: none;
  }
}
@media screen and (min-width: 84em) {
  /* line 80, ../sass/_layout/_header.scss */
  body > header h2 {
    white-space: nowrap;
  }
}
/* line 95, ../sass/_layout/_header.scss */
body > header .search {
  margin-top: 1.16667em;
}
@media screen and (max-width: 32em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    margin: 0 10.41667%;
  }
}
@media screen and (max-width: 48em) and (min-width: 32em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    margin-left: 35.41667%;
    margin-right: 10.41667%;
  }
}
@media screen and (max-width: 48em) and (min-width: 48em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    margin-left: 43.75%;
    margin-right: 18.75%;
  }
}
@media screen and (max-width: 48em) and (min-width: 84em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    margin-left: 52.08333%;
    margin-right: 18.75%;
  }
}
@media screen and (min-width: 48em) {
  /* line 95, ../sass/_layout/_header.scss */
  body > header .search {
    position: absolute;
    top: 1.5em;
    right: 2.08333%;
  }
}
/* line 112, ../sass/_layout/_header.scss */
body > header .search input {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  width: 9em;
  border-bottom: 1pt white solid;
  font-size: 1em;
  font-family: "tazsemilight";
  color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
/* line 129, ../sass/_layout/_header.scss */
body > header .search input ::-webkit-input-placeholder
::-moz-input-placeholder
::-ms-input-placeholder
::input-placeholder {
  opacity: 1;
  font-family: "tazsemilight";
}
/* line 138, ../sass/_layout/_header.scss */
body > header .search input:hover {
  width: 10em;
}
/* line 142, ../sass/_layout/_header.scss */
body > header .search input:focus {
  border-bottom-color: #ff6000;
  width: 15em;
}
@media screen and (min-width: 48em) {
  /* line 112, ../sass/_layout/_header.scss */
  body > header .search input {
    width: 6em;
  }
  /* line 149, ../sass/_layout/_header.scss */
  body > header .search input:hover {
    width: 7.5em;
  }
  /* line 150, ../sass/_layout/_header.scss */
  body > header .search input:focus {
    width: 10em;
  }
}
@media screen and (min-width: 84em) {
  /* line 112, ../sass/_layout/_header.scss */
  body > header .search input {
    width: 9em;
  }
  /* line 154, ../sass/_layout/_header.scss */
  body > header .search input:hover {
    width: 10em;
  }
  /* line 155, ../sass/_layout/_header.scss */
  body > header .search input:focus {
    width: 15em;
  }
}
/* line 161, ../sass/_layout/_header.scss */
body nav {
  top: 0;
  margin-left: 10.41667%;
}
@media screen and (min-width: 48em) {
  /* line 161, ../sass/_layout/_header.scss */
  body nav {
    margin-left: 43.75%;
  }
}
@media screen and (min-width: 84em) {
  /* line 161, ../sass/_layout/_header.scss */
  body nav {
    margin-left: 52.08333%;
  }
}
/* line 175, ../sass/_layout/_header.scss */
body nav ul li {
  margin-right: 2.08333%;
  margin-top: 0.375em;
}
@media screen and (min-width: 32em) {
  /* line 175, ../sass/_layout/_header.scss */
  body nav ul li {
    display: inline-block;
    vertical-align: top;
    width: 31.25%;
  }
  /* line 184, ../sass/_layout/_header.scss */
  body nav ul li:last-child {
    width: 29.6875%;
  }
}
@media screen and (min-width: 84em) {
  /* line 175, ../sass/_layout/_header.scss */
  body nav ul li {
    width: 21.91667%;
  }
}
/* line 193, ../sass/_layout/_header.scss */
body nav ul li p {
  opacity: .75;
}
/* line 196, ../sass/_layout/_header.scss */
body nav ul li p:hover {
  opacity: 1;
}

/* line 2, ../sass/_layout/_article.scss */
body article {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  margin: 0 10.41667%;
}
@media screen and (min-width: 32em) {
  /* line 2, ../sass/_layout/_article.scss */
  body article {
    margin-left: 35.41667%;
    margin-right: 10.41667%;
  }
}
@media screen and (min-width: 48em) {
  /* line 2, ../sass/_layout/_article.scss */
  body article {
    margin-left: 43.75%;
    margin-right: 18.75%;
  }
}
@media screen and (min-width: 84em) {
  /* line 2, ../sass/_layout/_article.scss */
  body article {
    margin-left: 52.08333%;
    margin-right: 18.75%;
  }
}
@media screen and (min-width: 48em) {
  /* line 2, ../sass/_layout/_article.scss */
  body article {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/* line 13, ../sass/_layout/_article.scss */
body article h1 {
  margin-bottom: 0.75rem;
}
/* line 27, ../sass/_layout/_article.scss */
body article header {
  position: relative;
}
/* line 30, ../sass/_layout/_article.scss */
body article header time {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
}
@media screen and (max-width: 32em) {
  /* line 30, ../sass/_layout/_article.scss */
  body article header time {
    margin-left: 3.5em;
  }
}
@media screen and (min-width: 32em) {
  /* line 30, ../sass/_layout/_article.scss */
  body article header time {
    position: relative;
    top: -0.5rem;
  }
}
/* line 41, ../sass/_layout/_article.scss */
body article header time a {
  color: #aaaaaa;
}
/* line 43, ../sass/_layout/_article.scss */
body article header time a:hover {
  color: #ff6000;
}
@media screen and (max-width: 32em) {
  /* line 49, ../sass/_layout/_article.scss */
  body article header h1 {
    margin-top: 0.75rem;
  }
}
/* line 55, ../sass/_layout/_article.scss */
body article header author {
  position: relative;
  top: -.3333em;
}
/* line 59, ../sass/_layout/_article.scss */
body article header author a {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em;
  text-indent: -9999em;
  border-radius: 50%;
  border: 1pt #aaaaaa solid;
  position: absolute;
}
/* line 70, ../sass/_layout/_article.scss */
body article header author a:hover {
  border-color: #ff6000;
}
@media screen and (min-width: 32em) {
  /* line 55, ../sass/_layout/_article.scss */
  body article header author {
    top: 1.75em;
  }
  /* line 78, ../sass/_layout/_article.scss */
  body article header author a {
    left: -4em;
    height: 3em;
    width: 3em;
  }
}
@media screen and (min-width: 48em) {
  /* line 55, ../sass/_layout/_article.scss */
  body article header author {
    top: 1.99999em;
  }
}
@media screen and (min-width: 84em) {
  /* line 55, ../sass/_layout/_article.scss */
  body article header author {
    top: 2.25em;
  }
}
/* line 109, ../sass/_layout/_article.scss */
body article footer ul.meta {
  color: #aaaaaa;
  position: relative;
}
/* line 113, ../sass/_layout/_article.scss */
body article footer ul.meta a {
  color: #aaaaaa;
}
/* line 115, ../sass/_layout/_article.scss */
body article footer ul.meta a:hover {
  color: #ff6000;
}
/* line 118, ../sass/_layout/_article.scss */
body article footer ul.meta li:before {
  content: none;
}
/* line 122, ../sass/_layout/_article.scss */
body article footer ul.meta > li {
  margin-top: 0.75em;
  display: block;
}
@media screen and (min-width: 32em) {
  /* line 128, ../sass/_layout/_article.scss */
  body article footer ul.meta > li h2 {
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 48em) {
  /* line 122, ../sass/_layout/_article.scss */
  body article footer ul.meta > li {
    margin-left: 0;
  }
  /* line 137, ../sass/_layout/_article.scss */
  body article footer ul.meta > li h2 {
    width: 5em;
    left: -5.75em;
    text-align: right;
  }
}
/* line 144, ../sass/_layout/_article.scss */
body article footer ul.meta > li h2 {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  color: #cccccc;
}
/* line 151, ../sass/_layout/_article.scss */
body article footer ul.meta > li.tags ul li {
  text-transform: lowercase;
  display: inline-block;
  padding-right: .5em;
}
/* line 160, ../sass/_layout/_article.scss */
body article footer ul.meta > li.notes li {
  display: block;
  color: #cccccc;
  margin-bottom: 0.75em;
}
/* line 164, ../sass/_layout/_article.scss */
body article footer ul.meta > li.notes li a {
  color: #aaaaaa;
}
/* line 166, ../sass/_layout/_article.scss */
body article footer ul.meta > li.notes li a:hover {
  color: #ff6000;
}
/* line 168, ../sass/_layout/_article.scss */
body article footer ul.meta > li.notes li img {
  display: none;
}
/* line 177, ../sass/_layout/_article.scss */
body article > figure {
  padding-bottom: 0;
}
/* line 180, ../sass/_layout/_article.scss */
body article > figure figcaption {
  margin-bottom: 1.5em;
}
/* line 184, ../sass/_layout/_article.scss */
body article > figure iframe {
  margin-left: -2.08333%;
  height: auto  !important;
}
/* line 191, ../sass/_layout/_article.scss */
body article img {
  height: auto !important;
}
/* line 199, ../sass/_layout/_article.scss */
body article.text img, body article.photo img, body article.video img, body article.audio img, body article.photoset img {
  margin-left: -13.02083%;
  width: 123.4375%;
}
@media screen and (min-width: 32em) {
  /* line 199, ../sass/_layout/_article.scss */
  body article.text img, body article.photo img, body article.video img, body article.audio img, body article.photoset img {
    margin-left: 0;
    width: 118.33333%;
  }
}
@media screen and (min-width: 48em) {
  /* line 199, ../sass/_layout/_article.scss */
  body article.text img, body article.photo img, body article.video img, body article.audio img, body article.photoset img {
    margin-left: 0;
    width: 118.75%;
  }
}
@media screen and (min-width: 84em) {
  /* line 199, ../sass/_layout/_article.scss */
  body article.text img, body article.photo img, body article.video img, body article.audio img, body article.photoset img {
    margin-left: 0;
    width: 152.08333%;
  }
}
/* line 203, ../sass/_layout/_article.scss */
body article ul {
  list-style-type: none;
}
/* line 207, ../sass/_layout/_article.scss */
body article ul li:before {
  content: "\2015";
  color: #aaaaaa;
  position: absolute;
  margin-left: -1.5em;
}
@media screen and (max-width: 32em) {
  /* line 207, ../sass/_layout/_article.scss */
  body article ul li:before {
    margin-left: -1em;
  }
}
/* line 220, ../sass/_layout/_article.scss */
body article blockquote {
  padding-left: 1.5em;
  border-left: 1pt solid #ff6000;
}
