body {
    background: $very-light;
    text-rendering: optimizelegibility;
    overflow-x: hidden;

    a {
        color: $accent;
        text-decoration: none;

        &:hover {
            color: $dark-accent;
        }
        
    }

    p,
    article > ul li,
    article > ol li {
        padding-bottom: $leading / 2;

        &:last-child {
            padding-bottom: 0;
        }
    }
    
    .content {
        z-index: 1;
        position: relative;
        
        @media screen and (min-width: $breakpoint1) {
            top: 75vh;
        }
        
        &.inactive {
            opacity: .125;
        }
        
        @include transition(opacity .25s ease-in-out);
    }

}