body {

    > header, nav {
        z-index: 1;
        
        @media screen and (min-width: $breakpoint1) {
            opacity: .125;
            position: fixed;
            bottom: 12.5vh;
            -webkit-filter: grayscale(1);
            @include transition-property(opacity, -webkit-filter);
            @include transition(.25s linear);
        }
        
        &.rollover {
            opacity: 1;
            -webkit-filter: none;
        }
    }
    
    > header {

        a {
            color: $accent !important;
            
            &:hover {
                color: white;
                border-bottom: 1px white solid;
            }
        }

        a, input {
            position: relative;
            z-index: 100;
            color: white;
        }
        
        h1, h2 {
            z-index: 2;
        }
        
        h1.title {
            position: relative;              
            white-space: nowrap;            

            span.phrase { display: block; }
        
            @media screen and (min-width: $breakpoint1) {
/*
                $logoWidth: .5em;
                background-size: $logoWidth;
                $offset: $logoWidth + .25em;    
                padding-top: 0;                  
                background-position: 0 .1875em;
                padding-left: $offset;
                left: -$offset;
*/
            }
            
            @media screen and (min-width: $breakpoint2) {
                span.phrase { display: inline; }
            }
        }
        
        h2 {
            font-size: 1em;
            line-height: $leading;
            color: rgba(255,255,255,.75);
            @include contentPosition;
            
            @media screen and (max-width: $breakpoint1) {
                display: none;
            }
        
            @media screen and (min-width: $breakpoint3) {
                white-space: nowrap;
            }
        }
        
        .search {
            margin-top: $leading - .33333em;
        
            @media screen and (max-width: $breakpoint1) {
                display: none;
            }
            
            @media screen and (max-width: $breakpoint2) {
                @include contentPosition;
            }
            
            @media screen and (min-width: $breakpoint2) {
                position: absolute;
                top: $leading;
                right: $gutter;
            }
        
            input {
                background: none;
                padding: 0;
                margin: 0;
                border: 0;
                outline: none;
                -webkit-appearance: none;
        
                width: 9em;
                border-bottom: 1pt white solid;
                font-size: 1em;
                font-family: $regular;
                color: white;
        
                ::-webkit-input-placeholder
                   ::-moz-input-placeholder
                    ::-ms-input-placeholder
                        ::input-placeholder {
                    opacity: 1;
                    font-family: $regular;
                }
        
                @include transition-property(all);
                @include transition-duration(.25s);
                @include transition-timing-function(cubic-bezier(1, 0, 0, 1));
        
                &:hover {
                    width: 10em;
                }
        
                &:focus {
                    border-bottom-color: $accent;
                    width: 15em;
                }
        
                @media screen and (min-width: $breakpoint2) {
                    width: 6em;
                    &:hover { width: 7.5em; }
                    &:focus { width: 10em; }
                }
                @media screen and (min-width: $breakpoint3) {
                    width: 9em;
                    &:hover { width: 10em; }
                    &:focus { width: 15em; }
                }
            }
        }
    }
    
    nav {
        top: 0;
        
        @media screen and (max-width: $breakpoint1) {
            @include contentPosition;
            margin-bottom: 4*$baseline;
        }        
        
        @media screen and (min-width: $breakpoint1) {
            margin-left: $gutter;
            margin-bottom: 0;
        }
        
        @media screen and (min-width: $breakpoint2) {
            margin-left: $marginLeft2;
        }
        
        @media screen and (min-width: $breakpoint3) {
            margin-left: $marginLeft3;
        }
        
        ul {
    
            li {
                margin-right: $gutter;
                margin-top: $leading/4;
                
                @media screen and (min-width: $breakpoint1) {
                    display: inline-block;
                    vertical-align: top;
                    width: ($col*4) + $gutter*3;
                    
                    &:last-child {
                        width: ($col*4) + $gutter*2;
                    }
                }
                
                @media screen and (min-width: $breakpoint3) {
                    width: ($col*3) + $gutter*2;
                }
            }
        }
    }
}